django
odfpy

tai5-uan5_gian5-gi2_kang1-ku7
kau3-tian2-iong7-ji7>=2.2.0
diff_match_patch
kaldiliau>=0.1.1

## phiaua
django-nested-admin
beautifulsoup4
django-colorfield

django-ranged-response
librosa
numpy<1.23
jsonfield

gunicorn
psycopg2-binary

behave
behave-django
